---
layout: default
---

<header>
  <h1>{{ page.title }}</h1>
  {%- assign date_format = site.lilium.date_format | default: "%b %-d, %Y" -%}
  <p>Published on <time class="dt-published" datetime="{{ page.date }}" itemprop="datePublished"> {{ page.date | date: date_format }}
  </time> by <a href="/about">{{ site.author.name }}</a></p>
  <p>{%- for cat_name in page.categories %}
    <a href="/categories/#{{cat_name}}">#{{ cat_name }}</a>
  {%- endfor %}</p>
  
  {%- if page.img %}
    <img class="post-cover" src="{{ page.img }}">
  {%- endif %}

</header>



<div class="postcontent">
  {{ content }}
</div>

{%- if page.tags.size > 0 -%}

  <hr>
  <p class="post-taxonomies">Tag: {%- for tag_name in page.tags %}
    {{ tag_name }}<span class="separator">, </span>
  {%- endfor %}</p>

{%- endif -%}